@media (max-width: 63.5em) {
  .sign-continer {
    grid-template-columns: 1fr;
  }

  .sign-img {
    display: none;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 861px (big mobile) */
/**************************/
